{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    {% if form.errors %}
        <p></p>
    {% else %}
        <p>Please, use the following form to sign in</p>
    {% endif %}
    <div class="signin-form">
        <form method="post" action="{% url 'sign_in' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Sign In"></p>
        </form>
    </div>
{% endblock %}
