{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    {% if form.errors %}
        <p></p>
    {% else %}
        <p>
            Please, use the following form to sign in.
            If you don't have an account <a href="{% url 'register' %}">
                register here
            </a>
        </p>
    {% endif %}
    <div class="signin-form">
        <form method="post" action="{% url 'login' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Sign In"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Forgotten your password?
            </a>
        </p>
    </div>
{% endblock %}
